.container {
	display: flex;
}

.item-0 {
	width: 300px;
}

.item-2 {
	width: 300px;
}

.editor-view {
	overflow: scroll;
	width: 90%;
}

.item-1 {
	flex-grow: 1;
	flex-shrink: 0;
}

.editor-view .ft-dynamic-container:hover {
    border: 1px dashed #71b8c6;
}

.editor-view .ft-dynamic-container-full-width:hover {
    border: 1px dashed #71b8c6;
}

.editor-view .editorSelected {
	border: 1px dashed #0f4d7a;
}