.container {
	display: flex;
}

.item-0 {
	width: 400px;
}

.item-2 {
	width: 300px;
}

.editor-view {
	overflow: scroll;
	max-width: 80%;
}

.item-1 {
	flex-grow: 1;
	flex-shrink: 0;
}

.editor-view .editorSelected {
	border: 1px solid #0f4d7a;
}

.selected {
	background-color: #b8d8ee !important;
}

.wrapItem {
	background-color: #8bb5ad;
}

.componentList {
	height: 100vh;
	overflow-y: scroll;
}